## Books Scraping

In [2]:
import pandas  as pd  
import requests 
from bs4 import BeautifulSoup

In [43]:
url = 'https://books.toscrape.com/'
res = requests.request('GET',url)
res

In [6]:
soup = BeautifulSoup(res.content , 'html.parser')
articles = soup.find_all('article' ,{'class':'product_pod'})
articles[0]

<article class="product_pod">
<div class="image_container">
<a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>

In [8]:
title = articles[0].find('h3').find('a')['title']
title

'A Light in the Attic'

In [9]:
price = articles[0].find('p',{'class':'price_color'}).get_text()
price

'£51.77'

In [11]:
rate = articles[0].find('p',{'class':'star-rating'})['class'][1]
rate

'Three'

In [12]:
data =[]
for article in articles :
    title = article.find('h3').find('a')['title']
    price = article.find('p',{'class':'price_color'}).get_text()
    rate = article.find('p',{'class':'star-rating'})['class'][1]
    data.append({
        'title':title ,
        'price':price,
        'rate':rate
    })

In [13]:
len(data)

20

In [14]:
books = pd.DataFrame(data)
books

                                                title   price   rate
0                                A Light in the Attic  £51.77  Three
1                                  Tipping the Velvet  £53.74    One
2                                          Soumission  £50.10    One
3                                       Sharp Objects  £47.82   Four
4               Sapiens: A Brief History of Humankind  £54.23   Five
5                                     The Requiem Red  £22.65    One
6   The Dirty Little Secrets of Getting Your Dream...  £33.34   Four
7   The Coming Woman: A Novel Based on the Life of...  £17.93  Three
8   The Boys in the Boat: Nine Americans and Their...  £22.60   Four
9                                     The Black Maria  £52.15    One
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99    Two
11                              Shakespeare's Sonnets  £20.66   Four
12                                        Set Me Free  £17.46   Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29   Five
14                          Rip it Up and Start Again  £35.02   Five
15  Our Band Could Be Your Life: Scenes from the A...  £57.25  Three
16                                               Olio  £23.88    One
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59    One
18                       Libertarianism for Beginners  £51.33    Two
19                            It's Only the Himalayas  £45.17    Two

In [44]:
soup = BeautifulSoup(res.content , 'html.parser')
categories = soup.find('ul',{'class':'nav nav-list'}).find('ul').find_all('a')
base_url = 'https://books.toscrape.com/'
cat_url = base_url+categories[1]['href']
res = requests.request('GET',cat_url)
res

In [46]:
cat_url

'https://books.toscrape.com/catalogue/category/books/mystery_3/index.html'

In [38]:
categories[0].text.strip()

'Travel'

In [39]:
data =[]
for category in categories :
    name = category.text.strip()
    base_url = 'https://books.toscrape.com/'
    cat_url = base_url+category['href']
    res = requests.request('GET',cat_url)
    soup = BeautifulSoup(res.content , 'html.parser')
    articles = soup.find_all('article' ,{'class':'product_pod'})
    for article in articles :
        title = article.find('h3').find('a')['title']
        price = article.find('p',{'class':'price_color'}).get_text()
        rate = article.find('p',{'class':'star-rating'})['class'][1]
        data.append({
                'category' :name ,
                'title':title ,
                'price':price,
                'rate':rate
            })

In [40]:
len(data)

517

In [41]:
books = pd.DataFrame(data)
books

,category,title,price,rate
0,Travel,It's Only the Himalayas,£45.17,Two
1,Travel,Full Moon over Noah’s Ark: An Odyssey to Mount...,£49.43,Four
2,Travel,See America: A Celebration of Our National Par...,£48.87,Three
3,Travel,Vagabonding: An Uncommon Guide to the Art of L...,£36.94,Two
4,Travel,Under the Tuscan Sun,£37.33,Three
...,...,...,...,...
512,Politics,Why the Right Went Wrong: Conservatism--From G...,£52.65,Four
513,Politics,Equal Is Unfair: America's Misguided Fight Aga...,£56.86,One
514,Cultural,Amid the Chaos,£36.58,One
515,Erotica,Dark Notes,£19.19,Five
516,Crime,The Long Shadow of Small Ghosts: Murder and Me...,£10.97,One

In [51]:
url = 'https://www.pararius.com/apartments/amsterdam/'
urls = ['https://www.pararius.com/apartments/amsterdam/']
for i in range(2,26):
    urls.append(url+f'page-{i}')
urls

['https://www.pararius.com/apartments/amsterdam/',
 'https://www.pararius.com/apartments/amsterdam/page-2',
 'https://www.pararius.com/apartments/amsterdam/page-3',
 'https://www.pararius.com/apartments/amsterdam/page-4',
 'https://www.pararius.com/apartments/amsterdam/page-5',
 'https://www.pararius.com/apartments/amsterdam/page-6',
 'https://www.pararius.com/apartments/amsterdam/page-7',
 'https://www.pararius.com/apartments/amsterdam/page-8',
 'https://www.pararius.com/apartments/amsterdam/page-9',
 'https://www.pararius.com/apartments/amsterdam/page-10',
 'https://www.pararius.com/apartments/amsterdam/page-11',
 'https://www.pararius.com/apartments/amsterdam/page-12',
 'https://www.pararius.com/apartments/amsterdam/page-13',
 'https://www.pararius.com/apartments/amsterdam/page-14',
 'https://www.pararius.com/apartments/amsterdam/page-15',
 'https://www.pararius.com/apartments/amsterdam/page-16',
 'https://www.pararius.com/apartments/amsterdam/page-17',
 'https://www.pararius.com/apartments/amsterdam/page-18',
 'https://www.pararius.com/apartments/amsterdam/page-19',
 'https://www.pararius.com/apartments/amsterdam/page-20',
 'https://www.pararius.com/apartments/amsterdam/page-21',
 'https://www.pararius.com/apartments/amsterdam/page-22',
 'https://www.pararius.com/apartments/amsterdam/page-23',
 'https://www.pararius.com/apartments/amsterdam/page-24',
 'https://www.pararius.com/apartments/amsterdam/page-25']